@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Outfit", sans-serif;
}

/* Navbar background */
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
  z-index: 5;
  transition: height 0.3s ease-in-out;
}

.mobile-menu-overlay.active {
  height: 100vh;
}

.authentication-button {
  background: linear-gradient(90deg, #263228 50%, #fff 50%);
  background-size: 200% 100%;
  color: white;
  padding: 0.75rem 1.5rem;
  border: 3px solid #263228;
  border-radius: 0.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover {
    background-position: -100% 0;
    color: #263228;
  }
}

.confirm-button {
  background-color: rgb(73 160 120);
  color: white;
  padding: 0.5rem 0px;
  border-radius: 0.375rem;
  transition: 300ms;
  margin-left: 1rem;
}

.confirm-button:hover {
  background-color: #3e7d5a;
}

.cancel-button {
  background-color: rgb(220 38 38);
  color: white;
  padding: 0.5rem 0px;
  border-radius: 0.375rem;
  transition: 300ms;
  margin-right: 1rem;
}

.cancel-button:hover {
  background-color: rgb(185 28 28);
}

@tailwind base;
@tailwind components;
@tailwind utilities;